:root {
    --main-color:  #f12342
}


.button{
    background-color: var(--main-color);
}
.logo a::before{
    color: var(--main-color)
}

.logo a::after{
    color: var(--main-color)
}
.error-placeholder::placeholder{
    color: var(--main-color);
}
.nav ul li a:hover,
.nav li a:active{
    color: var(--main-color);
}
.active {
    color: var(--main-color) !important;
}
.aside .nav-toggle span,
.aside .nav-toggle span::before,
.aside .nav-toggle span::after{
    background-color:  var(--main-color);
}
.home .media a {
    background-color: var(--main-color);
}

.about_button {
    background-color: var(--main-color);
}

.about .percent_line {
    background-color: var(--main-color) !important;
}

.about .timeline .line,
.about .timeline .circle{
    background-color: var(--main-color);
}

.blog .blog-date{
    background-color: var(--main-color);
}


.blog .title:hover{
    color: var(--main-color);}

.services .service-box .fas,
.contacts-box > .fas{
color: var(--main-color);
}


.slideshow-controls .prev-item .fas,
.slideshow-controls .next-item .fas,
.p-active{
    color: var(--main-color);
}
.p-active::after{
    background-color: var(--main-color)c;
}
