
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@200;400;500;600&display=swap');



/* All the general styles */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;;
    text-decoration: none;
}
body {
    font-size: 18px;
    font-family: 'Rokkitt', sans-serif;
    line-height: 1.6;
    margin: 0;
}

.section {
    background-color: #eaeaec;
    display: block;
    min-height: 100vh; /* Viewable screen height*/
    padding: 30px
}
.section-title {
    font-family: "Rokkitt", sans-serif;
    font-size: large;
    font-weight: 700;
}
.title{
    font-size: 20px;
}

.content-container {
padding-left: 280px;
}

.button {
    margin: auto;
    margin-top: 40px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    -ms-flex-align: center;
    display: block;
    text-align: center;
    cursor: pointer;
}
.pad-15{
    padding: 15px;
}
.mar-15{
    margin: 15px;
}
/* Aside */
.aside{
width: 280px;
background-color:#f6f3f7f6;
position: fixed;
left:0;
top:0;
height: 100vh;
padding: 35px;
}

.logo {
    width: 200px;
    height: 100px;
    padding: 30px 10px 10px 5px;
    background-color: transparent;
}
.logo a {
    font-size: 42px;
    font-family: "Rokkitt", sans-serif;
    font-weight: 600;
    color: #151515;
}
.logo a::before{
    margin-right: 10px;
    content: "<";
    height: 30px;
    width: 15px;
    color: black; /*Color that will apply when
    skins are off (black-and -white skin)*/
}

.logo a::after{
    margin-left: 10px;
    content: ">";
    height: 30px;
    width: 15px;
    color: black;
}

.aside .nav-toggle{
    height: 40px;
    width: 45px;
    font-weight: 42ps;
    position: fixed;
    left: 215px;
    top: 20px;
    border: 1px solid#adadad;
    border-radius: 15%;
    /*display: -ms-flexbox;
    display: flex;*/
    display: none;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    -ms-flex-align: center;
}

.aside .nav-toggle span {
height: 2px;
width: 19px;
display: inline-block;
position: relative;
}


.aside .nav-toggle span::before{
    content: "";
    height: 2px;
    width: 19px;
    position: absolute;
    top: -6px;

}

.aside .nav-toggle span::after{
    content: "";
    height: 2px;
    width: 19px;
    position: absolute;
    top: 6px;

}

.aside .nav {    
    margin: 85px 0;
    
}

.aside .nav ul{
    list-style: none;
}

.aside .nav ul li {
    display: block;
    border-bottom: solid 1px rgb(206, 204, 204);
}


.aside .nav ul li a {
    color: #151515;
    font-size: 20px;
    font-weight: 500;
    line-height: 46px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}


.aside .nav ul li a:not(.active):hover{
    padding-left: 5px;
}

.aside .nav i {
    padding-right: 5px;
}

.aside .copy-right {
    font-size: 15px;
    font-style: italic;
    color: #7d7d7b;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

/* Home*/
.home{
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    -ms-flex-align: center;
}


 .home img {
    margin-top: -50px;
    width: 280px;
    height: 280px;
    border: 15px solid white;
    border-radius: 50%;
    display: block;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
 }
 .home img:hover{
    transform: scale(1.05);
     box-shadow: 0 0 20px gray;
 }

 .home .info h1{
    font-size: 50px;
 }

 .home .media {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    -ms-flex-align: center;
 }

 .home .media a {
    color: white;
    display: inline-block;
    margin: 0 4px;
    padding: 12px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
 }

 .home .media a:hover{
    opacity: 0.6;;
 }

 /*---------------------------------------------_-----------------------------------*/

 /*About Section*/

 .about_grid {
     display: flex;
     flex-direction: row;
     color: #151515;
    font-size: 20px;
    font-weight: 500;
    line-height: 46px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
 }
 
 .about_me{
     width: 33%;
     display: inline;
     margin-top: 30px;
 }
.about_contact{
    width: 33%;
    margin-top: 30px;
    
}
.about__line{
    font-weight: 100;
}
.about_skills{
    display:flex;

}

.about__line{
    width: 80%;
    display: block;
    border-bottom: solid 1px rgb(206, 204, 204);
}
.about__line a {
    color: black;
}

.about_button {
    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.about_button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(180, 176, 176);
}
.about_button a {
    color: white;
}

.about_skills{
   width: 34%;
   display: flex;
   flex-direction: column;
}
.about .skill {
    width: 90%;
    margin-top: 10px;
}
.about .percent_num {
    margin-top: -20px;
    margin-bottom: -10px;
    font-size: 16px;

}
.about .skill .percent_line{
    height: 6px;
    border-radius: 2px;
    z-index: 1;
    position: absolute;
}
.about .skill .line {
    content: "";
    height:6px;
    width: 100%;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    position: relative;
    left:0;
    top: 0;
}

.about .timeline{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
}

.about .study-timeline,
.about .experience-timeline{
    margin: 20px;
    padding: 30px 30px 60px 60px;
    width: 50%;
    border: 2px solid rgb(172, 168, 168);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(119, 116, 116);
}

.about .timeline .timeline_row {
    margin-top: 30px;
    position: relative;
}
.about .timeline .circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: -45px;
}
.about .timeline .line{
    height: 109%;
    width: 2px;
    position: absolute;
    top: 20px;
    left: -36px;
}

.about .timeline .time{
    color: #6d6d6b;
}
.about .timeline .text{
    color: rgb(8, 8, 8);
    line-height: 24px;
    padding-top: 10px;
}
/*----------------------------------------------------------------------------------------------------------------*/
/*Blog Page Here*/
.blog{
    min-height: 100vh;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    -ms-flex-align: center;
}

.blog .blog-row{
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: unset;
    justify-self: center;
    align-self: center;
}

.blog .blog-box {
    
    height: auto;
    width: 30%;
    background-color: #eaeaec;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(119, 116, 116);
    overflow: hidden;
    position: relative;
}
.blog .blog-date{
    padding-left: 5px;
    width: 110px;
    height: 28px;
    border-radius: 10px;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    -ms-flex-align: center;
    position: absolute;
    left: 10px;
    top: 160px;
    color:#f6f3f7f6;
}
.blog .read-more{
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.blog-icons{
    display: none;
    position: absolute;
    top: 439px;
    right: 77px;
}
.blog-icons i{
    margin-left: 20px;
}
.blog-icons i:hover{
    cursor: pointer;
    opacity: 0.7;
}
.fa-share,
.fa-heart{
    color: rgb(119, 116, 116);
}

.blog .title{
    font-size: 22px;
    font-weight: 600;
}
.blog .title:hover{
    cursor: pointer;
}
.blog-content{
    line-height: 25px;
}
.blog .invisible{
    display: none;;
}

.reference{
    margin: 40px  0 0;
}
.blog .return{
    color: white;
    justify-self: center;
    font-size: 20px;
    padding-top: 12px;
}

